<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 -->
<mapper namespace="com.learn.springboot.mapper.CarMapper">
    <resultMap id="BeseMap" type="PictureVo">
        <id property="id" column="id" />
        <result property="url" column="url" />
        <result property="receiveTime" column="receive_time" />
        <result property="licence" column="licence"/>
        <result property="carUuid" column="car_uuid"/>
    </resultMap>
    <select id="getPicturesByTimeAndLicenceByPage" parameterType="Page" resultMap="BeseMap">
        select p.url, p.receive_time, c.licence, c.car_uuid from picture p, car c
        WHERE c.car_uuid = p.car_uuid

        <if test="#{params.licence} != null and !&quot;&quot;.equals(#{params.licence})">
            and c.licence LIKE CONCAT('%','${params.licence}','%')
        </if>

        <if test="#{params.receiveTime} != null and !&quot;&quot;.equals(#{params.receiveTime} and !&quot;0&quot;.equals(#{params.receiveTime}))">
            and p.receive_time > #{params.receiveTime}
        </if>

        <if test="#{params.skip} != null and  !&quot;&quot;.equals(#{params.skip})
               and #{pageSize} != null and  !&quot;&quot;.equals(#{params.pageSize}) ">
            ORDER by p.receive_time DESC limit #{params.skip}, #{params.pageSize}
        </if>
    </select>

    <select id="getPictureCount" parameterType="Page" resultType="int">
        select COUNT(*) from picture p, car c WHERE c.car_uuid = p.car_uuid

        <if test="#{params.licence} != null and !&quot;&quot;.equals(#{params.licence})">
            and c.licence LIKE CONCAT('%','${params.licence}','%')
        </if>

        <if test="#{params.receiveTime} != null and !&quot;&quot;.equals(#{params.receiveTime})">
            and p.receive_time > #{params.receiveTime}
        </if>

    </select>

</mapper>