<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 -->
<mapper namespace="com.learn.springboot.mapper.PictureMapper">

    <resultMap id="BaseMap" type="Picture">
        <id property="id" column="id"/>
        <result property="carUuid" column="car_uuid"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="url" column="url"/>
    </resultMap>
    <select id="getLatestPicture" resultMap="BaseMap">
        select * from picture ORDER BY receive_time limit 1;
    </select>

</mapper>